.cart {
    min-height: calc(100vh - 50px);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    font-size: 32px;
    img {
        position: relative;
        top: -2px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

.clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    span {
        display: inline-block;
        margin-left: 7px;
        color: #b6b6b6;
        font-size: 18px;
    }
    &:hover {
        span {
            color: #232323;
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom {
    margin: 50px 0;
}

.details {
    display: flex;
    justify-content: space-between;
    span {
        font-size: 22px;
        color: #232323;
    }
}

.bottom_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.button_back {
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 1px solid transparent;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    border-color: rgb(153, 153, 153);
    span {
        color: rgb(153, 153, 153);
        font-size: 16px;
        font-weight: 600;
    }
    &:hover {
        background-color: rgb(153, 153, 153);
        span {
            color: #fff;
        }
    }
}

.button_pay {
    display: inline-block;
    background-color: #fe5f1e;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 210px;
    padding: 16px;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 1px solid transparent;
    user-select: none;
    &:hover {
        background-color: #fff;
        color: #fe5f1e;
        border-color: #fe5f1e;
    }
}
