$grey-line: #acacac;

.title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #656363;
        text-transform: uppercase;
    }
    &:before {
        content: '';
        width: 70px;
        height: 1px;
        background-color: $grey-line;
        margin-right: 10px;
    }
    &:after {
        content: '';
        width: 70px;
        height: 1px;
        background-color: $grey-line;
        margin-left: 10px;
    }
}

.content {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 20px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 0 0 33.333%;
    margin: 15px 0 30px 0;
    &:hover {
        position: relative;
        .item {
            position: absolute;
            border: 1px solid #eb5c3e;
            background-image: linear-gradient(to top, #f6f6f6 0%, #ffffff 100%);
            padding: 30px 30px 10px 30px;
            height: auto;
            }
        .text {
            p {
                display: block;
            }
        }
        .addbtn {
            background-color: #eb5c3e;
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 30px 10px 30px;
    border: 1px solid $grey-line;
    max-width: 300px;
}

.img {
    margin-bottom: 30px;
    img {
        display: block;
        width: 100%;
        max-height: 202px;
    }
}

.name {
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.64px;
    text-align: center;
    color: #717171;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cost {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.72px;
    text-align: center;
    color: #717171;
}

.addbtn {
    cursor: pointer;
    width: 74px;
    height: 30px;
    background-color: #717171;
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
}

.text {
    color: #636363;
    font-size: 11px;
    line-height: 14px;
    text-align: justify;
    p {
        display: none;
    }
}