$warm-grey: #7f7e7e;

.cart {
    width: 70px;
    height: 45px;
    box-shadow: 0px 1px 0 0 #ffffff;
    border: solid 2px $warm-grey;
    background-color: #f4f4f4;
    border-radius: 20px;
    text-align: center;
    img {
        width: 28px;
        height: 25px;
        object-fit: contain;
    }
    &:hover {
        background-color: #ffffff;
    }
}
